# Config file.

[Pact]
# What code module you want to use for doing clip transcription text lookups.
LookupModule = pact.plugins.lookup.spanish.es_thefreedictionary

[Anki]
Ankiconnect = http://localhost:8765/

# Where media files should be stored.
MediaFolder = /path/to/Anki2/User 1/collection.media/

# Where the exported cards should go.
Deck = Spanish::03_Spanish_audio

# The note type for the exported cards, and the fields to use for the
# audio clip and for the transcription.
NoteType = Audio_clip
AudioField = Audio
TranscriptionField = Text
