# Config file.

[Pact]
# What code module you want to use for doing clip transcription text lookups.
LookupModule = pact.plugins.lookup.sample

# Location of downloaded Vosk model
# e.g. "VoskModel = model/spanish"
VoskModel = 

[Anki]
Ankiconnect = http://localhost:8765/

# Where media files should be stored.
MediaFolder = /path/to/Anki2/User 1/collection.media/

# Where the exported cards should go.
Deck = Parent-Deck::Child-Deck

# The note type for the exported cards, and the fields to use for the
# audio clip and for the transcription.
NoteType = AudioClip
AudioField = Audio
TranscriptionField = Text
NotesField = Extra_info
